.post h1 {
  margin-top: 64px;
}

.post blockquote {
  margin-left: 0px;
  padding-left: 16px;
  border-left: 4px solid rgb(30, 30, 30);
  font-style: italic;
}

.post figcaption {
  margin-top: 10px;

  font-style: italic;
  text-align: center;
  color: rgb(120, 120, 120);
}

.post pre {
  margin-top: -0.6rem;
  margin-bottom: 1.6rem;

  border: 1px solid rgb(220, 220, 220);
}

.post figure:has(img[src$=".svg"]) figcaption {
  margin-top: -1.0rem;
}

.post table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;

  margin-left: auto;
  margin-right: auto;
}