.post h2 {
    margin-top: 50px;
}

.post blockquote {
    margin-left: 0px;
    padding-left: 16px;
    border-left: 4px solid rgb(30, 30, 30);
    font-style: italic;
}

.post figcaption {
    margin-top: 10px;

    font-style: italic;
    text-align: center;
    color: rgb(120, 120, 120);
}