* {
    box-sizing: border-box;
}

a {
    color: #377dff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.resume ul {
    margin-top: 4px;
    margin-left: 12px;
    margin-bottom: 0;
}

.resume li {
    margin: 1px 0;
}

.resume {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10mm;
    gap: 10mm;

    font-family: 'Open Sans', sans-serif;
}

.resume-page {
    flex-shrink: 0;

    position: relative;
    width: 210mm;
    height: 296mm;

    padding: 14mm 12mm;

    font-size: 12px;
    line-height: 1.45;

    background: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.07);
}

@media (max-width: 220mm) {
    .resume {
        justify-content: flex-start;

        padding: 0;
    }
}

@media print {
    .resume {
        display: block;

        padding: 0;
    }

    .resume-page {
        box-shadow: none;
    }
}

.resume img {
    margin-bottom: 0;
}

/* Header */

.resume-header {

}

.resume-name {
    font-family: 'Questrial';
    font-size: 30px;
}

.resume-description {
    margin-top: 8px;

    font-size: 14px;
    line-height: 1.4em;
    font-family: 'Questrial';
    color: rgba(0, 0, 0, 0.5);
}

.resume-description-emphasize {
    color: rgba(0, 0, 0, 0.8);
}

.resume-header-photo {
    align-self: baseline;
    width: 74px;

    margin-left: 54px;

    border-radius: 100%;
}

.resume-contact {
    display: flex;

    margin-top: 6px;
}

.resume-contact .resume-icon {
    position: relative;
    top: 1px;
}

.resume-contact-item {
    margin-top: 6px;
    margin-right: 20px;

    font-size: 11px;
}

/* General */

.resume-emphasize {
    font-weight: 600;
}

.resume-section {
    margin-bottom: 40px;
}

.resume-item {
    margin-top: 16px;
}

.resume-icon {
    display: inline-block;
    vertical-align: baseline;
    width: 10px;

    margin-right: 4px;
}

.resume-date {
    margin-left: 16px;
}

.resume-title {
    font-family: 'Questrial';
    font-size: 18px;
}

.resume-subtitle {
    font-size: 13px;
}

.resume-subsubtitle {
    font-size: 10px;
    font-weight: 600;
}

.resume-text {
    margin-top: 2px;

    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

.resume-text_shift {
    margin-left: 14px;
}

.resume-label {
    display: inline-block;

    margin: 0 4px 0 0;
    padding: 3px 4px 4px 4px;

    font-size: 8px;

    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}

.resume-floating {
    display: flex;
    align-items: baseline;
}

.resume-floating .resume-subsubtitle {
    margin-right: 8px;
}

.resume-footer {
    display: none;

    position: absolute;
    bottom: 5mm;

    width: 100%;

    text-align: center;
    color: rgb(100, 100, 100);
    font-size: 9px;

    opacity: 0.8;
}

@media print {
    .resume-footer {
        display: block;
    }
}

/* Education */

.resume-education-icons {
    display: flex;

    margin-top: 2px;

    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.resume-education-icons .resume-icon {
    width: 8px;

    margin-right: 4px;
}

/* Experience */

.resume-experience {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 12px;
}

.resume-experience-content {
    width: 100%;
}

.resume-experience-image {
    width: 46px;

    margin-left: 20px;

    text-align: center;
}

.resume-experience-image img {
    width: 100%;
}

.resume-experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-experience-icons {
    display: flex;

    margin-left: 20px;

    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.resume-experience-icons .resume-icon {
    width: 8px;

    margin-right: 4px;
}

/* Projects */

.resume-cols {
    display: flex;
    justify-content: space-between;
}

.resume-col {
    width: 310px;
}

/* Publications */

.resume-publication-journal {
    margin-top: 4px;

    color: rgba(0, 0, 0, 0.8);
}

.resume-publication-authors {
    margin-top: 2px;

    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}


/* Interests and skills */

.resume-passion {
    display: inline-block;

    margin: 6px 16px 0 0;

    text-align: center;

    font-size: 10px;
}

.resume-passion-icon {
    position: relative;
    top: 2px;

    width: 13px;

    margin-right: 6px;
}